# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/

# Pytest cache
.pytest_cache/

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/
*.swp

# System files
.DS_Store

# Application state
queue_state.json
